*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    text-align: center;
    margin: 20px 0;
}
body{
    background-color: antiquewhite;
}
.container{
    max-width: 1000px;
    margin: auto;
}
.row{
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    /* margin: 0 -10px; */
}
.card{
    border: 2px solid lightcoral;
    border-radius: 12px;
    width: calc((100% / 3) - 20px);
    margin: 20px 10px;
    background-color: white;
    text-align: center;
    color: rgb(76, 75, 75);
}
.card .img,
.card h3,
.card h4{
    margin-bottom: 10px;
}
img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: block;
}
input{
    display: block;
}
.form-row{
    display: flex;
    justify-content: center;
    
}
form h3{
    text-transform: uppercase;
}